<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('archivo/head') %>
</head>
<body>

    <%- include('archivo/navegador') %>
    
    <header class="container justify-content-center align-items-center">
        <img src="/saludo.png" alt="" class="w-25">
        <h1><display1 my-5 text-uppercase fw-bold">Saludos y bienvenidos a esta pagina</h1>
    </header>

</body>
</html>