<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('archivo/head') %>
</head>
<body>

    <%- include('archivo/navegador') %>
    <h1>Contacto</h1>
</body>
<div>
    Puede contactarme por medio del correo mario.montes0454@alumnos.udg.mx
</div>
</html>